In [ ]:
#Dictionary

dictionary is an unordered collection
Key value pair seperated by commas
curly braces
dictionary are optamized to retrieve values when key is known

In [1]:
capitals={"USA":"Washington D.C", "France":"Paris", "India":"New Delhi"}
print(type(capitals))
print(capitals)

<class 'dict'>
{'USA': 'Washington D.C', 'France': 'Paris', 'India': 'New Delhi'}

In [3]:
d={} #empty dictionary
print(d)

{}

In [5]:
numnames={1:"one",2:"two",3:"three"} #int key,string value
print(numnames)

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
decnames={1.5:"one and half",2.5:"two and half"}
print(decnames)

{1.5: 'one and half', 2.5: 'two and half'}

In [9]:
items={("parker","reynolds","camlin"):"pen", ("lg","whirlpool","samsung"):"refrigerator"} #tuple key,string value
print(items)

{('parker', 'reynolds', 'camlin'): 'pen', ('lg', 'whirlpool', 'samsung'): 'refrigerator'}

In [13]:
roman_num={"I":1,"II":2} #string key,int value
print(roman_num)

{'I': 1, 'II': 2}

In [ ]:
#The same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. 
#The value can be of any data type. One value can be assigned to more than one key.

In [15]:
x={1:"One",2:"Two",3:"Three",1:"one",2:"two",3:"three"}
print(x)

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
#A dictionary can also be created using the dict() contructor method.
Example : dict() constructor method

In [17]:
emptydict=dict()
print(emptydict)

{}

In [19]:
numdict=dict(I="one",II="two",III="three")
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [25]:
numdict=dict((("I","one"),("II","two"),("III","three")))
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [ ]:
#Access dictionary

#Dictionary is an unordered collection, so a value cannot be accessed using an index;instead,a key must be specified in the square brackets, as shown below.

In [27]:
x={1:"one",2:"two",3:"three"}
print(x[1],x[2],x[3])

one two three

In [35]:
y={"USA":"Washington DC","France":"Paris","India":"New Delhi"}
print(y["USA"],y["France"])

Washington DC Paris

In [ ]:
#following throws an Keyerror
#print(capitals["USA"])
#print(y["Japan"])

In [37]:
print(y["Japan"])

KeyError: 'Japan'

In [ ]:
#Use the get() method to retrieve the key's value even if keys are not known. It returns None if the key does not exist instead of raising an error.

In [39]:
x={1:"one",2:"two",3:"three"}
print(x.get(1),x.get(2),x.get(4))

one two None

In [41]:
#Access dictionary using for loop

d1={1:"one",2:"two",3:"three"}     #by default always keys printed
for i in d1:
    print(i)

1
2
3

In [43]:
d1={1:"one",2:"two",3:"three"}   
for i in d1:
    print(i,d1[i])

1 one
2 two
3 three

In [45]:
d1={1:"one",2:"two",3:"three"}    
for i in d1:
    print("key=",i,"value=",d1[i])

key= 1 value= one
key= 2 value= two
key= 3 value= three

In [51]:
d1={1:"one",2:"two",3:"three"}    
for i in d1:
    print("key=",i,"value=",d1.get(i))

key= 1 value= one
key= 2 value= two
key= 3 value= three

In [53]:
for i in range(65,93):         #character value
    print(i,chr(i),end=" ")

65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z 91 [ 92 \

In [55]:
d1={}
for i in range(65,93):
    d1[i]=chr(i)
print(d1)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z', 91: '[', 92: '\\'}

In [57]:
d1={1:"one",2:"two",3:"three"}
for i in d1.keys():            #method
    print(i)

1
2
3

In [61]:
d1={1:"one",2:"two",3:"three"}
print(d1.keys())

dict_keys([1, 2, 3])

In [63]:
d1={1:"one",2:"two",3:"three"}
for i in d1.values():            #method
    print(i)

one
two
three

In [65]:
d1={1:"one",2:"two",3:"three"}
print(d1.values())

dict_values(['one', 'two', 'three'])

In [67]:
d1={1:"one",2:"two",3:"three"}
for i,j in d1.items():            #method
    print(i,j)

1 one
2 two
3 three

In [ ]:
#Update Dictionary

In [89]:
captain={"England":"Root","Australia":"Smith","India":"Dhoni"}
print(captain)

captain['India']="Virat"
print(captain)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Dhoni'}
{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat'}

In [93]:
captain['xyz']="Paine"
print(captain)

{'England': 'Root', 'Australia': 'Smith', 'India': 'Virat', 'xyz': 'Paine'}

In [1]:
d1={1:"one",2:"two",3:"three"}
print(d1)
del d1[3]
print(d1)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two'}