In [ ]:
#Dictionary

In [3]:
d1={1:"one",2:"two",3:"three"}
print(d1)
del d1[3]
print(d1)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two'}

In [5]:
d1.pop(1)
print(d1)

{2: 'two'}

In [9]:
d1={1:"one",2:"two",3:"three"}
print(d1.pop(1))  #pop return the deleted value

one

In [11]:
d1={1:"one",2:"two",3:"three"}
print(d1)
d1.popitem() #deleted last key value pair
print(d1)
d1.popitem()
print(d1)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two'}
{1: 'one'}

In [ ]:
#Nested Dictionary

Multi dimentional Dictionary
Lets assum there are three dictionary objects, as below:

In [17]:
d1={"name":"steve","age":25,"marks":60}
d2={"name":"anil","age":23,"marks":75}
d3={"name":"asha","age":20,"marks":70}

In [ ]:
Lets assign roll numbers to these students and create a multi dimentional dictionary with roll number as key and the above dictionaries at thier value.

In [19]:
students={1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'steve', 'age': 25, 'marks': 60}, 2: {'name': 'anil', 'age': 23, 'marks': 75}, 3: {'name': 'asha', 'age': 20, 'marks': 70}}

In [23]:
print(students[1])
print(students[2])
print(students[3])

{'name': 'steve', 'age': 25, 'marks': 60}
{'name': 'anil', 'age': 23, 'marks': 75}
{'name': 'asha', 'age': 20, 'marks': 70}

In [25]:
#Clear

roman_num={'I':1,'II':2,'III':3,'IV':4,'V':5}
print("Dictionary:",roman_num)

Dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [27]:
roman_num.clear()
print("Dictionary after calling clear() method: ", roman_num)

Dictionary after calling clear() method:  {}

In [29]:
#Copy

x={'I':1,'II':2,'III':3,'IV':4,'V':5}
y=x.copy()
print("origional dictionary:",x)
print("copied dictionary:",y)

origional dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
copied dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [31]:
del y['V'] #deleting 'V'
print("origional dictionary:",x)
print("copied dictionary:",y)

origional dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
copied dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [33]:
del x['I'] #deleting 'V'
print("origional dictionary:",x)
print("copied dictionary:",y)

origional dictionary: {'II': 2, 'III': 3, 'IV': 4, 'V': 5}
copied dictionary: {'I': 1, 'II': 2, 'III': 3, 'IV': 4}

In [35]:
#Dictionary from key

keys = {'Mumbai','Bangalore','Chicago','New York'}
value = 'city'
dictionary = dict.fromkeys(keys,value)
print(dictionary)

{'New York': 'city', 'Mumbai': 'city', 'Bangalore': 'city', 'Chicago': 'city'}

In [37]:
keys = {'Mumbai','Bangalore','Chicago','New York'}
dictionary = dict.fromkeys(keys)
print(dictionary)

{'New York': None, 'Mumbai': None, 'Bangalore': None, 'Chicago': None}

In [ ]:
#we can update the value one by one
example
keys["Mumbai"]="bbb"

In [39]:
#update method

roman_nums={'I':1,'III':3,'V':5}
print("Dictionary:",roman_nums)

Dictionary: {'I': 1, 'III': 3, 'V': 5}

In [41]:
evenroman_nums={'II':2,'IV':4}

In [43]:
roman_nums.update(evenroman_nums)

In [45]:
print("Updated Dictionary:",roman_nums)

Updated Dictionary: {'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}

In [49]:
#Dictionary membership

mydict={"name":"asif","ID":13456,"DOB":1998,"Job":"Analyst"}
mydict

{'name': 'asif', 'ID': 13456, 'DOB': 1998, 'Job': 'Analyst'}

In [53]:
"name" in mydict #Test if a key is in a dictionary or not

True

In [55]:
"Asif" in mydict #Membership test can be only done for keys

False

In [57]:
"ID" not in mydict

False

In [61]:
"ID" in mydict

True

In [65]:
#Dictionary Comprehension

double={i:i*2 for i in range(10)} #double each value using dict comrehention
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [67]:
square={i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [69]:
key=['one','two','three','four','five']
value=[1,2,3,4,5]

mydict={k:v for(k,v) in zip(key,value)} #using dict comrehention to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [71]:
mydict1={'a':10,'b':20,'c':30,'d':40,'e':50}
mydict1={k:v/10 for (k,v) in mydict1.items()} #Divide all values in a dictionary
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [79]:
str1="abcdefghijklmnopqrstuvwxyz"
mydict2={i:i.upper() for i in str1} #Lower to upper case
mydict2

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [ ]:
#Tuple
-----
sequence data structure
enclosed in ()
indexed , ordered
"immutable"--cannot be change once created

Difference between list and tuple

In [ ]:
t1=(12,23,34,45,56) #tuple of integers
t1=("how","are","you")
t1=((1,2),(2,3))

In [ ]:
tuple constructoe
-------------

In [83]:
t1=tuple("Ankush")
t1

('A', 'n', 'k', 'u', 's', 'h')

In [85]:
t1=12,23,34,45,56 #tuple packing        
print(type(t1))       #can we make a tuple without bracket -- yes and but comma is must to make a tuple

<class 'tuple'>

In [91]:
a,b,c,d,e=t1 #unpacking
print(a)
print(b)
print(c)
print(d)
print(e)
print(t1)

12
23
34
45
56
(12, 23, 34, 45, 56)

In [93]:
t2=(12)
print(type(t2))

<class 'int'>

In [97]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [ ]:
accessing
------------

In [99]:
t1=(12,23,34,45,56)
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

12
45
56
45