In [ ]:
SETS
Unordered and Unindexed of items
Set elements are unique. Duplicate elements are not allowed.

In [2]:
myset={1,2,3,4,5} #set of numbers
myset

{1, 2, 3, 4, 5}

In [4]:
len(myset) #length of the set

5

In [6]:
my_set={1,1,2,2,3,4,5,5} #duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [8]:
myset1={1.79,2.08,3.99,4.56,5.45} #set of float number
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [10]:
myset2={'Asif','John','Tyrion'} #set of strings
myset2

{'Asif', 'John', 'Tyrion'}

In [12]:
myset3={10,20,"Hola",(11,22,32)} #mixed data types
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [16]:
myset3={10,20,"Hola",[11,22,32]} #set doesn't allow mutable items
myset3

TypeError: unhashable type: 'list'

In [18]:
myset4=set() #create an empty set
print(type(myset4))

<class 'set'>

In [22]:
my_set1=set(("one","two","three","four"))
my_set

{1, 2, 3, 4, 5}

In [24]:
#Loop through a set

myset={'one','two','three','four','five','six','seven','eight'}
for i in myset:
    print(i)

five
three
eight
six
seven
two
four
one

In [28]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'three')
(2, 'eight')
(3, 'six')
(4, 'seven')
(5, 'two')
(6, 'four')
(7, 'one')

In [30]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
myset.add('nine') #add item to a set using add method
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
myset.update(['ten','eleven','twelve'])   #add multiple item to a set using update method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [36]:
myset.remove('nine') #remove item in a set using remove() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [38]:
myset.discard('ten') #remove item from a set using discard() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [40]:
myset.clear()  #delete all items in a set
myset

set()

In [42]:
del myset #delete the set object
myset

NameError: name 'myset' is not defined

In [50]:
#SET Operations

a={1,2,3,4,5}
b={4,5,6,7,8}
c={8,9,10}

In [52]:
a | b #union of a and b (all elements from both sets. No duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a.union(b) #union of a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
a.union(b,c) #union of a, b and c              -------- same work we can do with update method

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
a.update(b,c)         #update the set calling the update() method with union of a, b and c. for below example set a will be updated
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
#Intersection

a={1,2,3,4,5}
b={4,5,6,7,8}

a & b #intersection of a and b (common items in both sets)

{4, 5}

In [68]:
a.intersection(b)     #intersection of a and b

{4, 5}

In [72]:
#Difference

a={1,2,3,4,5}
b={4,5,6,7,8}

a-b #set of elements that are only in a but not in b

{1, 2, 3}

In [76]:
a.difference(b)  #Difference of sets

{1, 2, 3}

In [78]:
#Subset & Superset & Disjoint

a={1,2,3,4,5,6,7,8,9}
b={3,4,5,6,7,8}
c={10,20,30,40}

b.issubset(a)

True

In [80]:
a.issuperset(b)

True

In [82]:
c.isdisjoint(a)

False

In [84]:
c.isdisjoint(a)

True

In [86]:
#Tuple Sorting

mytuple = (43,67,99,12,6,90)
sorted(mytuple)

[6, 12, 43, 67, 90, 99]

In [88]:
sorted(mytuple, reverse=True)

[99, 90, 67, 43, 12, 6]

In [90]:
t1=(12,23,34,45,45,55)    #add item in tuple
x=list(t1)
x.append("harsh")
t1=tuple(x)
print(t1)

(12, 23, 34, 45, 45, 55, 'harsh')

In [92]:
t1=(12,23,34,45,45,55) #delete item from tuple
x=list(t1)
del x[1]
t1=tuple(x)
print(t1)

(12, 34, 45, 45, 55)

In [ ]:
#Function

--------------

Types of function
1.default func
2.argument func
3.return type
4.placeholder
5.args,kwargs

In [ ]:
#syntax

def function_name(): #definition
    logic

function name #calling

In [98]:
def addition():
    a=int(input("enter a number"))
    b=int(input("enter a number"))
    c=a+b
    print("the sum is ",c)

addition()

addition()

enter a number 3
enter a number 4

the sum is  7

enter a number 5
enter a number 7

the sum is  12

In [104]:
def intrest():
    p=int(input("enter the value of principle"))
    r=int(input("enter the value of rate"))
    t=int(input("enter the value of time"))
    si=p*r*t/100
    print("the interest is",si)

intrest()

enter the value of principle 5
enter the value of rate 800
enter the value of time 2

the interest is 80.0

In [132]:
def average():
    a=float(input("enter the number"))
    b=float(input("enter the number"))
    c=float(input("enter the number"))
    avg=(a+b+c)/3
    print("the average is",avg)

average()

enter the number 3
enter the number 6
enter the number 12

the average is 7.0

In [128]:
#percentage

def percentage():
    a=float(input("enter the number"))
    b=float(input("enter the number"))
    c=float(input("enter the number"))
    d=float(input("enter the number"))
    e=float(input("enter the number"))
    sum=a+b+c+d+e
    per=sum*100/500
    print("the percentage is",per)

percentage()

enter the number 40
enter the number 40
enter the number 40
enter the number 40
enter the number 40

the percentage is 40.0

In [130]:
def check():
    n=int(input("enter the number"))
    if n%2==0:
        print("even number")
    else:
        print("odd number")

check()

enter the number 8

even number

In [136]:
def leap():
    n=int(input("enter the year"))
    if n%4==0:
        print("leap year")
    else:
        print("not a leap year")

leap()

enter the number 1990

not a leap year

In [140]:
def vote():
    age=int(input("enter your age"))
    if age>=18:
        print("eligible")
    else:
        print("not eligible")

vote()

enter your age 17

not eligible