In [ ]:
Argument Function
----------------

def function_name(arg1,arg2,...):
    logic

function_name(arg1,arg2,...)

In [2]:
#Sum of two numbers

def addition(a,b):
    c=a+b
    print("the sum is",c)

addition(34,45)

the sum is 79

In [4]:
x=int(input("enter the number"))
y=int(input("enter the number"))
addition(x,y)

enter the number 34
enter the number 45

the sum is 79

In [6]:
def interest(p,r,t):
    si=p*r*t/100
    print("the interest is",si)

interest(2000,4.5,3)

the interest is 270.0

In [8]:
x=int(input("enter the principle"))
y=float(input("enter the rate"))
z=int(input("enter the time"))
interest(x,y,z)

enter the principle 2000
enter the rate 4.5
enter the time 3

the interest is 270.0

In [12]:
#check for even and odd number

def check(n):
    if n%2==0:
        print("even number")
    else:
        print("odd number")

check(45)

odd number

In [14]:
n=int(input("enter the number"))
check(n)

enter the number 45

odd number

In [16]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print("factorial is",f)

factorial(6)

factorial is 720

In [20]:
#sum of elements of the list

def add(ls):
    s=0
    for i in ls:
        s=s+i
    print("the sum is",s)

add([12,23,34,45,56,67])

the sum is 237

In [32]:
#prime number

def check_prime(n):
    co=0
    for i in range(1,n+1):
        if n%i==0:
            co=co+1
    if co==2:
       print("prime number")
    else:
       print("non prime")

check_prime(67)

prime number

In [ ]:
Return type
-------------

def function_name(arg1,arg2,...):
    logic
    return value/values

var=function_name(arg1,arg2,...)
print(var)


print(functin_name(arg1,arg2))

In [34]:
def addition(a,b):
    return a+b

x=addition(12,23)
print(x)

35

In [36]:
print(addition(12,23))

35

In [40]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)

In [42]:
datascience(2,4,6,7,5)

(6, 8)

In [48]:
def sums(r,t,u):
    return(r+t+u)

jatin=sums(7,6,5)
jatin

18

In [52]:
#default value argument / placeholder argument

def addition(a,b=100,c=200):
    return a+b+c 

print(addition(500)) #800
print(addition(800,300)) #1300
print(addition(10,20,30)) #60

800
1300
60

In [54]:
def add(a,b=100):
    return(a+b)

In [56]:
add(1000)

1100

In [58]:
def hello(name,age=29,gender="male"):
    return("my name is {} and age is {} and gender is {}".format(name,age,gender))

In [60]:
hello("eshank")

'my name is eshank and age is 29 and gender is male'

In [64]:
#Keyword argument and argument

u=[1,2,3]
u

[1, 2, 3]

In [66]:
print(*u)

1 2 3

In [80]:
a,*b,c=[1,2,3,3,3,4,4,4,7]
print(a)
print(*b)
print(c)

1
2 3 3 3 4 4 4
7

In [82]:
#Meaning of *args(POSITIONAL ARGUMENT: - to unpack iterables)--------

A=[1,2,3]
B=[4,5,6]
C=[A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [84]:
D=[*A,*B]
D

[1, 2, 3, 4, 5, 6]