In [1]:
x=lambda a : a + 10
x(1000)

1010

In [3]:
z=lambda a,b,c : a+b+c
z(10,20,30)

60

In [5]:
#PEMDAS       parenthysis,exponent,multiplication,division,addition,substraction
ismail=lambda a,b,c : a+b*c       # a+(b+c*d)+f/(a*b)
ismail(7339,838,453)

386953

In [7]:
# IF & ELSE condition with lambda

a=lambda x: x*2 if x%2==0 else x #true  if  false
a(31)

31

In [ ]:
# MAP Function

In [9]:
list(map(lambda x : x+x, [1,2,3,4])) # yes no----> yes 1 no 0

[2, 4, 6, 8]

In [11]:
def addition(n):
    return(n*2)

In [15]:
addition([12,23,34,56])

[12, 23, 34, 56, 12, 23, 34, 56]

In [17]:
def addition(n):
    return(n*2)

In [19]:
number=[12,23,34,56]
list(map(addition, number))        # list(map(lambda x:x*2,number))

[24, 46, 68, 112]

In [23]:
numbers1=[1,2,3]
numbers2=[4,5,6]
numbers3=[1,3,4]

result=map(lambda x,y,z: x+y+z, numbers1, numbers2, numbers3)
list(result)

[6, 10, 13]

In [25]:
my_pets = ['alfred','tabitha','william','arla']
list(map(lambda x: x.upper(),my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [29]:
my_strings=['a','b','c','d']
my_numbers=[1,2,3,4,5]
my_name=['xx','yy','zz','ww','dd']
result=list(map(lambda x,y,z: (y, x+z), my_strings, my_numbers,my_name))
list(result)

[(1, 'axx'), (2, 'byy'), (3, 'czz'), (4, 'dww')]

In [ ]:
# FILTER     ---- extract

In [39]:
list1=[1,2,3,4,5,6,7,8,9,10]
even=list(filter(lambda n: n%2 ==0, list1))
odd=list(filter(lambda n: n%2 !=0, list1))

print('--------')
print(even)
print(odd)
print('-------')

list2=['one','TWO','three','FOUR']
upper=list(filter(lambda x: x.isupper(), list2))
lower=list(filter(lambda x: x.islower(), list2))

print(upper)
print(lower)
print('-------')

list3=['one','two','three','88','99','102']
numeric=list(filter(lambda x:x.isnumeric(), list3))
alpha=list(filter(lambda x:x.isalpha(), list3))
alphanum=list(filter(lambda x:x.isalnum(), list3))

print(numeric)
print(alpha)
print(alphanum)
print('-------')

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
-------
['TWO', 'FOUR']
['one', 'three']
-------
['88', '99', '102']
['one', 'two', 'three']
['one', 'two', 'three', '88', '99', '102']
-------

In [41]:
# ZIP ---- grouping 

a=["John","Peter","Nishant"]
b=["Jenny","Ashwin"]
list(zip(a,b))

[('John', 'Jenny'), ('Peter', 'Ashwin')]

In [43]:
a="bushan"
b="hassanhhjhsjjs"
list(zip(a,b))

[('b', 'h'), ('u', 'a'), ('s', 's'), ('h', 's'), ('a', 'a'), ('n', 'n')]

In [47]:
number_list=[1,2,3,3]
str_list=["one","two","three","three"]
result=list(zip(number_list,str_list))
print(result)

#converting iterator to set
#result_set=set(result)
#print(result_set)

[(1, 'one'), (2, 'two'), (3, 'three'), (3, 'three')]

In [59]:
numberList=[1,2,3]
str_list=['one','two']
numbers_tuple=('ONE','TWO','THREE','FOUR')

result=zip(numberList,numbers_tuple)
print(result)

result1=zip(numberList,str_list,numbers_tuple)
print(result1)


coordinate=['x','y','z']     #unzip
value=[3,4,5]

result=zip(coordinate,value)
result_list=list(result)
print(result_list)

c, v = zip(*result_list)
print(c)
print(v)

<zip object at 0x00000259871F81C0>
<zip object at 0x00000259871F88C0>
[('x', 3), ('y', 4), ('z', 5)]
('x', 'y', 'z')
(3, 4, 5)

In [ ]:
# Enumerate

In [61]:
s1="PYTHON"
list(enumerate(s1))

[(0, 'P'), (1, 'Y'), (2, 'T'), (3, 'H'), (4, 'O'), (5, 'N')]

In [65]:
l1=["DL","ML","NLP"]
ls=list(enumerate(l1,5))
ls

[(5, 'DL'), (6, 'ML'), (7, 'NLP')]

In [67]:
l1=["DL","ML","NLP"] # 0 dl, 1 ml, 2 nlp

for i,j in enumerate(l1):
    if i<2:
        print(j,i)

DL 0
ML 1