In [ ]:
#FOR LOOP

-------------

entry control loop

--------------

In [5]:
for i in "datascience":
   print(i)

d
a
t
a
s
c
i
e
n
c
e

In [7]:
for i in [1,2,2,4,5]:    #list 
    print(i)

1
2
2
4
5

In [9]:
for i in (12,13,45,34):   #tuple
    print(i)

12
13
45
34

In [11]:
for i in {12,13,35,4,78}:    #set
    print(i)

35
4
12
13
78

In [1]:
for i in {1:"one",2:"two"}:       #dict
    print(i)                         #by default always keys

1
2

In [13]:
x=[12,3,4,8]
i=0
while i<len(x):
    print(x[i])
    i=i+1

12
3
4
8

In [ ]:
range()              #last value excluded
--------------------

range(10)-----------   0-----9
range(1,10)----------- 1------9
range(1,100,3)----------1 4 7--------
range(start,end,step)

In [15]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [17]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [21]:
for i in range (1,100,4):
    print(i,end=" ")

1 5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [23]:
for i in range (200,50,-1):
    print(i,end=" ")

200 199 198 197 196 195 194 193 192 191 190 189 188 187 186 185 184 183 182 181 180 179 178 177 176 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51

In [27]:
# print your name 10 times

for i in range (10):
   print("shivani")

shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani
shivani

In [31]:
# print first 10 natural number
for i in range (1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [35]:
# print sum of 10 natural number

s=0
for i in range (1,11):
    s=s+i
print("the sum is",s)

the sum is 55

In [41]:
# print sum of 10 numbers your choice

s=0
for i in range(10):
    n=int(input("enter the number"))
    s=s+n              # if we mention s=s+i then it will give us by default 45 the sum of 10 numbers
print("the sum is",s)

enter the number 1
enter the number 1
enter the number 1
enter the number 1
enter the number 1
enter the number 11
enter the number 1
enter the number 1
enter the number 1
enter the number 1

the sum is 20

In [45]:
# table of a given number

n=int(input("enter the number"))
for i in range (1,11):
   print(n,"*",i,"=",n*1)

enter the number 3

3 * 1 = 3
3 * 2 = 3
3 * 3 = 3
3 * 4 = 3
3 * 5 = 3
3 * 6 = 3
3 * 7 = 3
3 * 8 = 3
3 * 9 = 3
3 * 10 = 3

In [51]:
# factors of a given number

n=int(input("enter the number"))
for i in range (1,n+1):
   if n%i==0:
      print(i,end=" ")

enter the number 60

1 2 3 4 5 6 10 12 15 20 30 60

In [59]:
# print the sum of odd and even numbers

se=0
so=0
for i in range(1,101):
    if i%2==0:
       se=se+i
    else:
        so=so+i
print("the sum of even is",se)
print("the sum of odd is",so)

the sum of even is 2450
the sum of odd is 2500

In [65]:
n=int(input("enter the number"))
f=1
for i in range(1,n+1):            #range(n,0,-1):
    f=f*i
print("the factorial is ",f)

enter the number 6

the factorial is  720

In [67]:
n=int(input("enter the number"))
f=1
for i in range(n,0,-1):            #range(n,0,-1):
    f=f*i
print("the factorial is ",f)

enter the number 6

the factorial is  720

In [ ]:
#LIST
---------

age=int,name=str

array-------collection of similar data items
homogeneos

LIST
-------
sequence data structure
hetrogeneous--------
ordered or indexed
"mutable" ------- changable
enclosed in [] ("square bracket")


x=[12,43,32,3,4]       #array
x=[23,"hello",37,67.9]    #list

In [69]:
ls=[12,2,4,5,8] #list of integers
print(ls)

[12, 2, 4, 5, 8]

In [71]:
ls=['a','e','i','o','u'] #list of string
print(ls)

['a', 'e', 'i', 'o', 'u']

In [73]:
ls=[0.1,2.7]  #list of float
print(ls)

[0.1, 2.7]

In [75]:
ls=[12,13,37,"hello",2.9] #list of mixed type
print(ls)

[12, 13, 37, 'hello', 2.9]

In [83]:
#by using list constructor 


ls=list("hello")
print(ls)

ls=list((12,13,56,5))
print(ls)

['h', 'e', 'l', 'l', 'o']
[12, 13, 56, 5]

In [85]:
#nested list

ls=[1,2,3,4,[7,8,9],11,[2]]
print(ls)

[1, 2, 3, 4, [7, 8, 9], 11, [2]]

In [99]:
#accessing of list elements             ----------- by index value

ls=[11,22,33,44,55,66,77,88,99]
print(ls[0]) #11
print(ls[3]) #44
print(ls[-3])
print(ls[0::])
print(ls[::-1])
print(ls[4::])

11
44
77
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
[55, 66, 77, 88, 99]

In [107]:
# accessing in lested list

ls=[12,23,34,45,[67,78,89,98,[98,867,76]],56,[87]]

In [111]:
print(ls[3])

45

In [113]:
print(ls[4])

[67, 78, 89, 98, [98, 867, 76]]

In [115]:
print(ls[6])

[87]

In [119]:
print(ls[4][3])

98

In [121]:
print(ls[4][4])

[98, 867, 76]

In [123]:
print(ls[4][4][1])

867

In [125]:
#updation
                   
ls=[12,23,34,45,56,67]          
print(ls)
ls[2]="hello"
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 'hello', 45, 56, 67]

In [ ]:
#slice operation
":"
ls[3:8] #3 4 5 6 7
ls[:8]  #from the beginning
ls[3:] #start from 3 and end to the last
ls[:] #from the beggining to last

In [127]:
ls=[12,23,34,45,56,67,78,89,98,87]
print(ls[3:8])
print(ls[:8])
print(ls[3:])
print(ls[:])

[45, 56, 67, 78, 89]
[12, 23, 34, 45, 56, 67, 78, 89]
[45, 56, 67, 78, 89, 98, 87]
[12, 23, 34, 45, 56, 67, 78, 89, 98, 87]

In [129]:
#update multiple value

ls=[12,23,34,45,56,67]
print(ls)
ls[3:6]=["how","are","you"]
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'how', 'are', 'you']