In [1]:
x=[12,23,34,45,56,67,78]
print(x)

[12, 23, 34, 45, 56, 67, 78]

In [3]:
x.pop()

78

In [5]:
print(x)

[12, 23, 34, 45, 56, 67]

In [7]:
x.pop()

67

In [9]:
print(x)

[12, 23, 34, 45, 56]

In [11]:
x.remove(23)

In [13]:
print(x)

[12, 34, 45, 56]

In [ ]:
#List methods
1.append--it is used to insert one element in the list at a time
#element is always inserted at the end of the list

In [15]:
x=[12,23,34,45,56,67,78]
print(x)

[12, 23, 34, 45, 56, 67, 78]

In [21]:
x.append("Python")
print(x)

[12, 23, 34, 45, 56, 67, 78, 'Python', 'Python']

In [23]:
x.append(["Python","ML"])
print(x)

[12, 23, 34, 45, 56, 67, 78, 'Python', 'Python', ['Python', 'ML']]

In [39]:
#make a list of 10 numbers of your choice

x=[]
for i in range(10):
    n=int(input("enter the number"))
    x.append(n)
print(x)

enter the number 2
enter the number 3
enter the number 1
enter the number 3
enter the number 4
enter the number 4
enter the number 5
enter the number 6
enter the number 2
enter the number 1

[2, 3, 1, 3, 4, 4, 5, 6, 2, 1]

In [43]:
#make the list of odd and even numbers

xe=[]
xo=[]
for i in range(10):
    n=int(input("enter the number"))
    if n%2==0:
       xe.append(n)
    else:
       xo.append(n)

print("even number list",xe)
print("odd number list",xo)

enter the number 1
enter the number 2
enter the number 3
enter the number 4
enter the number 5
enter the number 6
enter the number 7
enter the number 8
enter the number 9
enter the number 1

even number list [2, 4, 6, 8]
odd number list [1, 3, 5, 7, 9, 1]

In [47]:
x=[]
for i in range(10):
    n=int(input("enter the number"))
    x.append(n)
print("origional list is",x)
print("max element is",max(x))    #inbuilt function -- max--min--sum
print("min element is",min(x))
print("sum of the list is",sum(x))

enter the number 2
enter the number 4
enter the number 7
enter the number 3
enter the number 8
enter the number 11
enter the number 32
enter the number 24
enter the number 34
enter the number 81

origional list is [2, 4, 7, 3, 8, 11, 32, 24, 34, 81]
max element is 81
min element is 2
sum of the list is 206

In [59]:
x=[]
for i in range(10):
    n=int(input("enter the number"))
    x.append(n)
print("origional list is",x)
print("avg is",avg(len(x)))

enter the number 2
enter the number 1
enter the number 3
enter the number 4
enter the number 5
enter the number 6
enter the number 7
enter the number 8
enter the number 9
enter the number 11

origional list is [2, 1, 3, 4, 5, 6, 7, 8, 9, 11]

NameError: name 'avg' is not defined

In [51]:
x=[12,23,43,45,45,56,76,87,34]        #max -- what is logic 
m=x[0]
for i in range(len(x)):
    if x[i]>m:
       m=x[i]
print(x)
print("max is",m)

[12, 23, 43, 45, 45, 56, 76, 87, 34]
max is 87

In [55]:
x=[12,23,43,45,45,56,76,87,34]        #min -- what is logic 
s=x[0]
for i in range(len(x)):
    if x[i]<s:
       s=x[i]
print(x)
print("min is",s)

[12, 23, 43, 45, 45, 56, 76, 87, 34]
min is 12

In [61]:
x=[12,23,43,45,45,56,76,87,34]        #max and min -- what is logic 
m=x[0]
s=x[0]
for i in range(len(x)):
    if x[i]>m:
       m=x[i]
    if x[i]<s:
       s=x[i]
print(x)
print("min is",s)
print("max is",m)

[12, 23, 43, 45, 45, 56, 76, 87, 34]
min is 12
max is 87

In [63]:
x=[12,23,34,45,56,67,78,12,23,43,45]
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(x)
print(y)

[12, 23, 34, 45, 56, 67, 78, 12, 23, 43, 45]
[12, 23, 34, 45, 56, 67, 78, 43]

In [67]:
x=[12,23,34,45,56,67,78,12,23,43,45]
print(x)
y=list(set(x))
print(y)

[12, 23, 34, 45, 56, 67, 78, 12, 23, 43, 45]
[34, 67, 43, 12, 45, 78, 23, 56]

In [ ]:
#Limitation of append

#append never return any value--

#y=x.append(23)---- wrong

In [71]:
#entend-- used to insert more than element in the list at once
#elements are always inserted at the end of the list 

x=[12,23,34,45]
print(x)

[12, 23, 34, 45]

In [75]:
x.extend([89,76,78])
print(x)

[12, 23, 34, 45, 89, 76, 78]

In [77]:
a=[12,23]
print(a)
b=[34,45]
print(b)
c=a+b
print(c)

[12, 23]
[34, 45]
[12, 23, 34, 45]

In [79]:
a.extend(b)
print(a)

[12, 23, 34, 45]

In [81]:
#insert-- it is also use to insert one element in the list at a time
#but we can provide index here to which the value is being inserted 

x=[12,23,34,45,56]
print(x)
x.insert(3,"hello")
print(x)

[12, 23, 34, 45, 56]
[12, 23, 34, 'hello', 45, 56]

In [83]:
x=[12,23,34,45,56]
print(x)
y=x.insert(3,"hello")
print(y)

[12, 23, 34, 45, 56]
None

In [85]:
#clear-- it is use to empty the list 

x=[12,23,34,45,56]
print(x)
x.clear()
print(x)

[12, 23, 34, 45, 56]
[]

In [87]:
#index-- it is use to return the index of first occurence of the element in the list

x=[12,23,34,45,56,45]
y=x.index(45)
print(y)

3

In [89]:
#count-- return the frequency of the element in list

x=[12,23,34,45,56,45]
y=x.count(45)
print(y)

2

In [91]:
#sort-- it is used to arrange elements in ascending or descending order
#sort can not return 

x=[12,7,23,34,12,45,56,41,45]
print(x)
x.sort() #by default ascending order
print(x)
x.sort(reverse=True)
print(x)

[12, 7, 23, 34, 12, 45, 56, 41, 45]
[7, 12, 12, 23, 34, 41, 45, 45, 56]
[56, 45, 45, 41, 34, 23, 12, 12, 7]

In [95]:
#reverse-- it is use to just reverse the list but cannot return

x=[12,7,23,34,12,45,56,41,45]
print(x)
x.reverse()
print(x)

[12, 7, 23, 34, 12, 45, 56, 41, 45]
[45, 41, 56, 45, 12, 34, 23, 7, 12]

In [97]:
x=[12,7,23,34,12,45,56,41,45]          #reverse the value without using reverse function with the help of slicing
print(x)
y=x[::-1]     #[start:end:step]
print(y)

[12, 7, 23, 34, 12, 45, 56, 41, 45]
[45, 41, 56, 45, 12, 34, 23, 7, 12]

In [ ]:
next session copy