In [1]:
#Practice

#write the output of the following code

L=["Amit","Sumit","Naina"]
print(L[1:-1])

['Sumit']

In [3]:
print(L[-1:1])

[]

In [5]:
print(L[0:-1])

['Amit', 'Sumit']

In [7]:
print(L[0:-2])

['Amit']

In [9]:
L=["Amit","Sumit","Naina"]
print(L*2)

['Amit', 'Sumit', 'Naina', 'Amit', 'Sumit', 'Naina']

In [13]:
L=["Amit","Sumit","Naina"]
print(L**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [15]:
L=[0.5 * x for x in range(4)]     #List comprehension
print(L)

[0.0, 0.5, 1.0, 1.5]

In [17]:
L=['a' * x for x in range(4)] 
print(L)

['', 'a', 'aa', 'aaa']

In [29]:
m=['a'*0]  #it is giving blank in the answer
print(m)

['']

In [27]:
L=[1*x for x in range(10,1,-4)]
print(L)

[10, 6, 2]

In [31]:
#New Concept

#Copy method()-------shallow copy

x=[11,22,33,44]
y=x
print(x)
print(y)
y[1]="hello"
print(x)
print(y)

[11, 22, 33, 44]
[11, 22, 33, 44]
[11, 'hello', 33, 44]
[11, 'hello', 33, 44]

In [33]:
x=[11,22,33,44]
y=x.copy()
print(x)
print(y)
y[1]="hello"
print(x)
print(y)

[11, 22, 33, 44]
[11, 22, 33, 44]
[11, 22, 33, 44]
[11, 'hello', 33, 44]

In [35]:
T=[1,2,3,4]
T1=T
T[0]='A'
print(T)
print(T1)

['A', 2, 3, 4]
['A', 2, 3, 4]

In [41]:
T=[1,2,3,4]
T1=[5,6,7]
L=T.append(T1)
print(L)

None

In [43]:
L=[1,5,9]
print(sum(L)+max(L)-min(L))

23

In [47]:
L=[['physics',101],['chemistry',202],['maths',303],45,6,'j']
print(len(L))

6

In [49]:
L=[1,2,3,4,5,6,7,8,9,10]
print(L[L[3]])

5

In [53]:
L=[1,2,3,4,5,6,7,8,9,10]
print(L[len(L)-1])

10

In [55]:
print(1 in [[1],2,3])

False

In [57]:
print([1] in [[1],2,3])

True

In [59]:
print(1 in [1,2,3])

True

In [61]:
print(1 in (1,2,3))

True

In [65]:
print([] * 2)

[]

In [67]:
L=["amit","sumit","Ravi"]
print(L[0][1])

m

In [69]:
L=[23,45,65,32,3]
L.insert(L[4],'monitor')
print(L)

[23, 45, 65, 'monitor', 32, 3]

In [71]:
L=[23,45,65,32,3]
L.insert(L[3],'monitor')
print(L)

[23, 45, 65, 32, 3, 'monitor']

In [ ]:
#address same  - =
#address different - .copy

In [75]:
#sorted  ------ return the new sorted list and doesn't change the orgional 

list=[1,5,3,2,4]
x=sorted(list)
print(x)

[1, 2, 3, 4, 5]

In [ ]:
# ALl

#The all() method returns:

## True - If all elements in a list are true 
## False - If any elements in a list is false

# The any() function returns True if any element in the list is True. If not, any() returns False.

In [81]:
L1=[1,2,3,4,0]

In [83]:
all(L1)  #will return false as one value is false

False

In [85]:
any(L1) #will return true as we have items in list with true value

True

In [ ]:
# LIST COMPREHENSIONS

##List comprehension provide an elegant way to create new lists
##It consists of brackets containing an expression followed by a for clause , then zero or more for or if clause

In [87]:
mystring="WELCOME"
mylist=[i for i in mystring]
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [91]:
mylist1=[i for i in range(40) if i%2==0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [93]:
mylist2=[i for i in range(40) if i%2==1]
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [95]:
mylist3=[num**2 for num in range(10)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [97]:
#list all numbers divisible by 3,9 and 12 using nested if with list comprehension
mylist4 = [ i for i in range(200) if i%3==0 if i%9==0 if i%12==0]
mylist4

[0, 36, 72, 108, 144, 180]

In [101]:
#extract numbers from a string 

mystr = 'One 1 two 2 three 3 four 4 five 5'
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5']